<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">SpringDemo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <!--HOME-->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              
              <!--ABOUT-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/about}">About</a>
              </li>

              <!--LOGIN-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
              </li>

              <!--CHAT-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/chat}">Chat</a>
              </li>

              <!--Warenkorb-->
              <li class="nav-item">
                <a class="nav-link" th:href="@{/warenkorb}">
                  <span class="material-icons">shopping_basket</span>
                  <span id="warenkorbAnzahl" style="color: #f11; margin-bottom: 5px"></span>
                </a>
              </li>


            </ul>
              <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>-->
          </div>
        </div>
      </nav>

</body>
</html>