<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About - Spring Demo für OOAD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    
    <div class="container">
        <p th:text=" ${aboutText}" />
        
        <!--Aktivitätsdiagramm-->
        <p>
            <h2 style="text-align: center;">Aktivitätsdiagramm: </h2>
            <img class="img-fluid" src="/images/Aktivitaetsdiagramm_OOAD.jpg" alt="Aktivitätsdiagramm">
        </p>

        <!--Klassendiagramm-->
        
        <p>
            <h2 style="text-align: center;">Das UML-Diagramm des Webshops: </h2>
            <img class="img-fluid" src="/images/Webshop_Klassendiagramm.jpg" alt="Klassendiagramm">
        </p>
    </div>

    <script src="/warenkorb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>