<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Demo für OOAD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="container">
        <img th:src="${artikel.bild}" alt="Artikel Bild" style="width: 400px;">
        <h1 th:text="${artikel.name}"></h1>
        <p th:text="${artikel.beschreibung}"></p>
        <h6 th:text="${artikel.preis}"></h6>
        
        <!--In den Warenkorb hinzufügen-->
        <button class="btn btn-dark" type="button" onclick="artikelInWarenkorbLegen()">In den Warenkorb</button>
        
        <!--Alert!-->
        <div id="warenkorbSuccessAlert" class="alert alert-success" role="alert" style="display: none;"> Der Artikel wurde in den Warenkorb gelegt!</div>
        <div id="warenkorbFailAlert" class="alert alert-danger" role="alert" style="display: none;">Es ist ein Fehler aufgetreten!</div>
        
    </div>
    <script>
        function getArtikelId(){
            return "[[${artikel.id}]]";
        }
    </script>

    <script src="/warenkorb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>