<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Demo für OOAD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Von WebSocket genutzt -> werden über Maven importiert! -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!--Websocket nutzen über JS-->
    <script src="/websocket.js"></script>

</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="container">
        <!--WEBSOCKET-->
        <!--<div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div id="chatConnect" class="form-group">
                        <label for="connect">Chat connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
                    </div>
                </form>
            </div>-->
        
        <div id="chatbox" class="row">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Support Chat</th>
                    </tr>
                    </thead>
                    <tbody id="chat">
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="chatMessageBox" class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="name">Deine Nachricht:</label>
                    <input type="text" id="inhalt" class="form-control" placeholder="Content...">
                </div>
                <button id="send" class="btn btn-primary" type="submit">Senden</button>
            </form>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>