<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warenkorb</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="container">
        <h1>Warenkorb</h1>

        <!-- Warenkorb Artikel Tabelle-->
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Artikel-ID</th>
                <th scope="col">Name</th>
                <th scope="col">Beschreibung</th>
                <th scope="col">Preis</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="artikel : ${artikelAusWarenkorb}">
                <th th:text="${artikel.id}" scope="row"></th>
                <td th:text="${artikel.name}"></td>
                <td th:text="${artikel.beschreibung}"></td>
                <td th:text="${artikel.preis}"></td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td th:text="${gesamtPreis}"></td>
              </tr>
            </tbody>
          </table>
          
          
    </div>
    
    <script src="/warenkorb.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>